*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8vh;
    background-color: aquamarine;
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: rgb(117, 105, 105);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 50%;  
}
.nav-links li{
    list-style: none;
    
}
.nav-links a{
    color:rgb(24, 21, 21);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;    
}